<ion-view view-title="萌搭搭">

   <ion-header-bar class="bar-subheader">


	<div class="container-wrap">
		<div class="container">
			<button ng-click="change_location('1')" ng-class="{'button button-light':true, 'button button-positive': bill.group_id === '1' }">淞虹路</button>
   			<button ng-click="change_location('2')" ng-class="{'button button-light':true, 'button button-positive': bill.group_id === '2' }">虹桥</button>
   			<button ng-click="change_location('3')" ng-class="{'button button-light':true, 'button button-positive': bill.group_id === '3' }">漕河泾</button>
   			<button ng-click="change_location('4')" ng-class="{'button button-light':true, 'button button-positive': bill.group_id === '4' }">中山公园</button>
   			<button ng-click="change_location('5')" ng-class="{'button button-light':true, 'button button-positive': bill.group_id === '5' }">张江</button>
   			<button ng-click="change_location('6')" ng-class="{'button button-light':true, 'button button-positive': bill.group_id === '6' }">陆家嘴</button>
   			<button ng-click="change_location('7')" ng-class="{'button button-light':true, 'button button-positive': bill.group_id === '7' }">徐家汇</button>
   			<button ng-click="change_location('8')" ng-class="{'button button-light':true, 'button button-positive': bill.group_id === '8' }">普陀</button>
		</div>
	</div>
   
   <!--
   	<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
	  <ion-row>
		<ion-col>
   			<button ng-click="change_location('1')" ng-class="{'button button-light':true, 'button button-positive': bill.group_id === '1' }">淞虹路</button>
		</ion-col>
		<ion-col>
   			<button ng-click="change_location('2')" ng-class="{'button button-light':true, 'button button-positive': bill.group_id === '2' }">虹桥</button>
		</ion-col>
		<ion-col>
   			<button ng-click="change_location('3')" ng-class="{'button button-light':true, 'button button-positive': bill.group_id === '3' }">漕河泾</button>
		</ion-col>
		<ion-col>
   			<button ng-click="change_location('4')" ng-class="{'button button-light':true, 'button button-positive': bill.group_id === '4' }">中山公园</button>
		</ion-col>
		<ion-col>
   			<button ng-click="change_location('5')" ng-class="{'button button-light':true, 'button button-positive': bill.group_id === '5' }">张江</button>
		</ion-col>
		<ion-col>
   			<button ng-click="change_location('6')" ng-class="{'button button-light':true, 'button button-positive': bill.group_id === '6' }">陆家嘴</button>
		</ion-col>
		<ion-col>
   			<button ng-click="change_location('7')" ng-class="{'button button-light':true, 'button button-positive': bill.group_id === '7' }">徐家汇</button>
		</ion-col>
  	  </ion-row>
	</ion-scroll>
	-->
    </ion-header-bar>  


  <ion-content>

    <ion-refresher
  		pulling-text="下拉刷新..."
  		on-refresh="doRefresh()">
    </ion-refresher>

	  
	
    <ion-list>
      <ion-item class="item item-thumbnail-left" ng-repeat="t in playlists track by $index" href="#/app/playlist/{{t.order_id}}">
		
	  <img src="{{t.picture}}" wight="80px" height="100px">

	  <h2>{{t.order_name}}</h2>

	  <p>组织人:{{t.username}}</p>
	  <p>
	  出发地:{{t.s_from}}
	  &nbsp  
	  目的地:{{t.s_to}}
	  </p>
	  <p>出发时间:{{t.start_time}}</p>
	  <p>座位:{{t.seat_number}}</p>

      </ion-item>
    </ion-list>
	<!--
	<ion-infinite-scroll
		on-infinite="loadMore()"
		distance="1%">
	</ion-infinite-scroll>
	-->
  </ion-content>

  


<ion-footer-bar align-title="left" class="bar-positive">

	<h1 class="title"></h1>
	

	<div class="buttons" ng-click="create_bill()">
		<button class="button">创建活动</button>
	</div>
</ion-footer-bar>
</ion-view>
