<ion-view view-title="萌搭搭">
  <ion-content>
		<div class="list">

				<div ng-class='{"item item-avatar":true, "highlight":playlist.state === "disable"}'>
					   <img src="{{playlist.picture}}">
					   <h2>{{playlist.title}}</h2>
					   
					   <p>
					   {{playlist.desc_t}}
					   </p>
					   
				   </div>

				   <div class=""item item-body">
					   <div class="col" ">

						   <h4>{{playlist.context}} </h4>

						   <div  ng-repeat="t in playlist.picture_list  track by $index">
							   <img class="full-image" style="" src="{{t}}">
						   </div>
					   </div>
				   </div>
			   </div>


			   <!--
			   <a class="item item-icon-left assertive" >
				   <i class="icon ion-heart"></i>
				   <button class="button button-block button-positive" ng-click="bill_join()">
					   加入活动
				   </button>
			   </a>
			   -->

		</div>
  </ion-content>
</ion-view>
