<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">账户</h1>
    <div class="buttons">
      <button class="button button-stable" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
  </ion-content>


  <div ng-show="Islogin != 1">

  <ion-content>
	  <div class="jj">
		  <a ng-href="https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx7f638d2d85dc480f&redirect_uri=http%3a%2f%2fapp.doubilol.com%2f&response_type=code&scope=snsapi_base&state=123#wechat_redirect">
			  <img  src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1490540928667&di=a60967e2fea979e220c509a49c2e9886&imgtype=0&src=http%3A%2F%2Fimg.zcool.cn%2Fcommunity%2F01da9955da9dd46ac7251df86b278e.jpg" class="yj"  width="160" height="160" />
			  <span class="yy">微信登录</span>
		  </a>
	  </div>
  </ion-content>
  </div>

  
  <div ng-show="Islogin == 1">
	  <ion-content has-header="true">
			<div class="list">
				<div class="item item-avatar">
					<img src="{{user_data.weixin_data.headimgurl}}">
					<div class="pn2">用户名: {{user_data.name}}</div>

				</div>
			
			<a class="item  assertive" >

				<button class="button button-block button-positive" ng-click="login_out()">
					退出登录 
				</button>
			</a>
			</div>

			</ion-content>
  </div>

    

</ion-modal-view>
