<ion-view view-title="萌搭搭">

<ion-header-bar class="bar-subheader">
	<div class="">
		<div class="container">
			<button ng-click="change_info_type('2')" ng-class="{'button button-light':true, 'button button-positive':  info_type === '2' }">图文圈</button>
			<button ng-click="change_info_type('1')" ng-class="{'button button-light':true, 'button button-positive':  info_type === '1' }">活动圈</button>
			<button ng-click="change_info_type('5')" ng-class="{'button button-light':true, 'button button-positive':  info_type === '5' }">群聊圈</button>
		</div>
	</div>
</ion-header-bar>  


<ion-content ng_show='info_type === "1"'>
  <ion-refresher
		pulling-text="下拉刷新..."
		on-refresh="doRefresh()">
  </ion-refresher>

  <ion-list>
    <ion-item class="item  item-avatar" ng-repeat="t in bill_list track by $index" href="#/app/playlist/{{t.order_id}}">
  	
    <img src="{{t.picture}}" wight="80px" height="100px">

    <h2>{{t.order_name}}</h2>

    <p>组织人:{{t.username}}</p>
    <p>
    出发地:{{t.s_from}}
    &nbsp  
    目的地:{{t.s_to}}
    </p>
    <p>出发时间:{{t.start_time}}</p>
    <p>座位:{{t.seat_number}}</p>

    </ion-item>
  </ion-list>
  
</ion-content>


<ion-content  ng_show='info_type === "2"'>
  <ion-refresher
		pulling-text="下拉刷新..."
		on-refresh="BlogRefresh()">
  </ion-refresher>
  
  <ion-list>
    <ion-item class="item item-avatar" ng-repeat="t in blog_list track by $index" href="#/app/blog_show/{{t.id}}">
  	
    <img src="{{t.picture}}" wight="80px" height="100px">

    <h2>{{t.title}}</h2>

    <p>{{t.desc_t}}</p>

	
	<div class="row row-no-padding" style="padding: 1px">
		<div class="col col-33"><img height="80"  width="80" src="{{t.picture_list[0]}}" ng-show = "t.picture_list[0] != null "></div>
		<div class="col col-33" style="padding-left: 3px"><img height="80"  width="80" src="{{t.picture_list[1]}}" ng-show = "t.picture_list[1] != null "></div>
		<div class="col col-33" style="padding-left: 3px"><img height="80"  width="80" src="{{t.picture_list[2]}}" ng-show = "t.picture_list[2] != null "></div>
	</div>

    </ion-item>
  </ion-list>
</ion-content>

<ion-content  ng_show='info_type === "5"'>
<div class="list">

	<div class=""item item-body">
		<div class="col" ">
			
			<button class="button button-block button-positive button-small" ng-click="join_chat()">加入</button>

			<button class="button button-block button-assertive button-small" ng-click="exit_chat()">退出</button>

			<div class="pn2" style="text-align:center">点击 加入 后长按二维码开始群聊 </div>
			<img class="full-image" style="" src="img/code.jpg">

		</div>
	</div>
</div>
</ion-content>

<div ng-show="info_type != 5">
<ion-footer-bar align-title="left" class="bar-positive">
	<h1 class="title"></h1>

	<div class="buttons" ng-click="create_common()">
		<button class="button">创建</button>
	</div>
</ion-footer-bar>
</div>

</ion-view>
